<div class="row">
    <div class="col-md-11">
        <div class="review" id="comment-list-template">
            {{#each comments}}
            <div class="desc" id="{{id}}">
                <h4>
                    <span class="text-left">{{username}}</span>
                    <span class="text-right">{{time}}</span>
                </h4>
                <p>{{content}}</p>
                <p>___________________________________________________________________________________________________________
                </p>
                <br></br>
            </div>
            {{/each}}
        </div>
    </div>
</div>

<script type="text/x-handlebars" id="comments">
    \{{#each comments}}
    <div class="desc" id="\{{id}}">
        <h4>
            <span class="text-left">\{{username}}</span>
            <span class="text-right">\{{time}}</span>
        </h4>
        <p>\{{content}}</p>
        <p>___________________________________________________________________________________________________________
        </p>
        <br></br>
    </div>
    \{{/each}}
</script>