{{>header}}

<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="bread"><span><a href="/">Home</a></span> / <span id="category">{{category}}</span></p>
            </div>
        </div>
    </div>
</div>

<div class="breadcrumbs-two">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="breadcrumbs-img" style="background-image: url(images/cover-img-1.jpg);">
                    <h2>{{category}}'s</h2>
                </div>
                <div class="menu text-center">
                    <p><a href="#">New Arrivals</a> <a href="#">Best Sellers</a> <a href="#">Extended Widths</a> <a
                            href="#">Sale</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="colorlib-product">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-xl-3">
                <div class="row">
                    <form name="abc" action="/footwears">
                        <div class="col-sm-12">
                            <div class="side border mb-1">
                                <h3>Sort by</h3>
                                <ul>
                                    <li>
                                        <div class="form-check">
                                            <input type="checkbox" name="sort" value="1" id="sort1"
                                                onclick="replaceProducts('current')">
                                            <label class="form-check-label" for="sort1">
                                                A - Z
                                            </label>
                                        </div>

                                    </li>

                                    <li>
                                        <div class="form-check">
                                            <input type="checkbox" name="sort" value="-1"
                                                onclick="replaceProducts('current')" id="sort2">
                                            <label class="form-check-label" for="sort2">
                                                Z - A
                                            </label>
                                        </div>

                                    </li>

                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="side border mb-1">
                                <h3>Brand</h3>
                                <ul>
                                    <li>
                                        <input type="checkbox" name="brand" value="NIKE"
                                            onclick="replaceProducts('current')" id="brand1">
                                        <label class="form-check-label" for="brand1">
                                            Nike
                                        </label>
                                    </li>
                                    <li>
                                        <input type="checkbox" name="brand" value="ADIDAS"
                                            onclick="replaceProducts('current')" id="brand2">
                                        <label class="form-check-label" for="brand2">
                                            Adidas
                                        </label>

                                    </li>
                                    <li>
                                        <input type="checkbox" name="brand" value="HERMES"
                                            onclick="replaceProducts('current')" id="brand3">

                                        <label class="form-check-label" for="brand3">
                                            Hermes
                                        </label>
                                    </li>

                                    <li>
                                        <input type="checkbox" name="brand" value="GUCCI"
                                            onclick="replaceProducts('current')" id="brand4">

                                        <label class="form-check-label" for="brand4">
                                            Gucci
                                        </label>
                                    </li>
                                    <li>
                                        <input type="checkbox" name="brand" value="LOUIS VUITTON"
                                            onclick="replaceProducts('current')" id="brand5">

                                        <label class="form-check-label" for="brand5">
                                            Louis Vuitton
                                        </label>
                                    </li>
                                    <li>
                                        <input type="checkbox" name="brand" value="MEREL"
                                            onclick="replaceProducts('current')" id="brand6">

                                        <label class="form-check-label" for="brand6">
                                            Merrel
                                        </label>
                                    </li>
                                    <li>
                                        <input type="checkbox" name="brand" value="SKECHERS"
                                            onclick="replaceProducts('current')" id="brand7">

                                        <label class="form-check-label" for="brand7">
                                            Skechers
                                        </label>
                                    </li>

                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="side border mb-1">
                                <h3>Size/Width</h3>
                                <div class="block-26 mb-2">
                                    <h4>Size</h4>
                                    <ul>
                                        <li><a href="#">35</a></li>
                                        <li><a href="#">36</a></li>
                                        <li><a href="#">37</a></li>
                                        <li><a href="#">38</a></li>
                                        <li><a href="#">39</a></li>
                                        <li><a href="#">40</a></li>
                                        <li><a href="#">41</a></li>
                                        <li><a href="#">42</a></li>

                                    </ul>
                                </div>
                                <div class="block-26">
                                    <h4>Width</h4>
                                    <ul>
                                        <li>

                                            <input type="checkbox" name="width" value="M"
                                                onclick="replaceProducts('current')">
                                            M
                                        </li>
                                        <li>

                                            <input type="checkbox" name="width" value="W"
                                                onclick="replaceProducts('current')">
                                            W

                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="side border mb-1">
                                <h3>Style</h3>
                                <ul>
                                    <li>

                                        <input type="checkbox" name="style" value="slip-on"
                                            onclick="replaceProducts('current')" id="style1">

                                        <label class="form-check-label" for="style1">
                                            Slip Ons
                                        </label>
                                    </li>
                                    <li>

                                        <input type="checkbox" name="style" value="boot"
                                            onclick="replaceProducts('current')" id="style2">

                                        <label class="form-check-label" for="style2">
                                            Boots
                                        </label>
                                    </li>
                                    <li>

                                        <input type="checkbox" name="style" value="sandal"
                                            onclick="replaceProducts('current')" id="style3">

                                        <label class="form-check-label" for="style3">
                                            Sandals
                                        </label>
                                    </li>
                                    <li>

                                        <input type="checkbox" name="style" value="lace-up"
                                            onclick="replaceProducts('current')" id="style4">

                                        <label class="form-check-label" for="style4">
                                            Lace Ups
                                        </label>
                                    </li>
                                    <li>

                                        <input type="checkbox" name="style" value="oxford"
                                            onclick="replaceProducts('current')" id="style5">

                                        <label class="form-check-label" for="style5">
                                            Oxfords
                                        </label>
                                    </li>

                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="side border mb-1">
                                <h3>Colors</h3>
                                <ul>
                                    <li><input type="checkbox" name="color" value="black"
                                            onclick="replaceProducts('current')" id="color1">

                                        <label class="form-check-label" for="color1">
                                            Black
                                        </label>
                                    </li>
                                    <li><input type="checkbox" name="color" value="white"
                                            onclick="replaceProducts('current')" id="color2">

                                        <label class="form-check-label" for="color2">
                                            White
                                        </label>
                                    </li>
                                    <li><input type="checkbox" name="color" value="blue"
                                            onclick="replaceProducts('current')" id="color3">

                                        <label class="form-check-label" for="color3">
                                            Blue
                                        </label>
                                    </li>
                                    <li><input type="checkbox" name="color" value="red"
                                            onclick="replaceProducts('current')" id="color4">

                                        <label class="form-check-label" for="color4">
                                            Red
                                        </label>
                                    </li>
                                    <li><input type="checkbox" name="color" value="green"
                                            onclick="replaceProducts('current')" id="color5">

                                        <label class="form-check-label" for="color5">
                                            Green
                                        </label>
                                    </li>
                                    <li><input type="checkbox" name="color" value="grey"
                                            onclick="replaceProducts('current')" id="color6">

                                        <label class="form-check-label" for="color6">
                                            Grey
                                        </label>
                                    </li>
                                    <li><input type="checkbox" name="color" value="orange"
                                            onclick="replaceProducts('current')" id="color7">

                                        <label class="form-check-label" for="color7">
                                            Orange
                                        </label>
                                    </li>
                                    <li><input type="checkbox" name="color" value="cream"
                                            onclick="replaceProducts('current')" id="color8">

                                        <label class="form-check-label" for="color8">
                                            Cream
                                        </label>
                                    </li>
                                    <li><input type="checkbox" name="color" value="brown"
                                            onclick="replaceProducts('current')" id="color9">

                                        <label class="form-check-label" for="color9">
                                            Brown
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="side border mb-1">
                                <h3>Material</h3>
                                <ul>
                                    <li>
                                        <input type="checkbox" name="material" value="leather" onclick="repl"
                                            onclick="replaceProducts('current')" id="material1">

                                        <label class="form-check-label" for="material1">
                                            Leather
                                        </label>
                                    </li>
                                    <li>
                                        <input type="checkbox" name="material" value="suede"
                                            onclick="replaceProducts('current')" id="material2">
                                        <label class="form-check-label" for="material2">
                                            Suede
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="side border mb-1">
                                <ul>
                                    <li>
                                        <a href="/footwears">Xoá tất cả</a>
                                    </li>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
            <div class="col-lg-9 col-xl-9">
                {{>product}}

                <div class="row">
                    <div class="col-md-12 text-center" id="paging-nav">
                        <div class="block-27">
                            <ul>
                                <li class="disabled"><a onclick="replaceProducts(1)">F</a></li>

                                <li class="disabled"><a onclick="replaceProducts({{pagination.previousPage}})"><i
                                            class="ion-ios-arrow-back"></i></a></li>
                                {{#each pagination.paginate}}
                                <li class="{{active}} page"><a onclick="replaceProducts({{page}})">{{page}}</a>
                                </li>
                                {{/each}}
                                <li class="disabled"><a onclick="replaceProducts({{pagination.nextPage}})"><i
                                            class="ion-ios-arrow-forward"></i></a></li>

                                <li class="disabled"><a onclick="replaceProducts({{pagination.totalPage}})">L</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{>partner}}


{{>footer}}

<script type="text/x-handlebars" id="paging-nav-template">
<div class="block-27" >
    <ul>                               
        <li class="disabled" ><a  onclick="replaceProducts(1)">F</a></li>
        
        <li class="disabled" ><a  onclick="replaceProducts(\{{pagination.previousPage}})"><i
                    class="ion-ios-arrow-back"></i></a></li>
        \{{#each pagination.paginate}}
        <li class="\{{active}} page" ><a  onclick="replaceProducts(\{{page}})">\{{page}}</a></li>                            
        \{{/each}}
        <li class="disabled" ><a  onclick="replaceProducts(\{{pagination.nextPage}})"><i
                    class="ion-ios-arrow-forward"></i></a></li>
         
        <li class="disabled" ><a  onclick="replaceProducts(\{{pagination.totalPage}})">L</a></li>                                                
    </ul>
</div>
</script>