{{>header}}

<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="bread"><span><a href="/">Home</a></span> / <span>All Products</span></p>
            </div>
        </div>
    </div>
</div>

<div class="breadcrumbs-two">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="breadcrumbs-img" style="background-image: url(images/cover-img-1.jpg);">
                    <h2>All Product's</h2>
                </div>
                <div class="menu text-center">
                    <p><a href="#">New Arrivals</a> <a href="#">Best Sellers</a> <a href="#">Extended Widths</a> <a
                            href="#">Sale</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="colorlib-product">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-xl-3">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="side border mb-1">
                            <h3>Brand</h3>
                            <ul>
                                <li><a href="#">Nike</a></li>
                                <li><a href="#">Adidas</a></li>
                                <li><a href="#">Merrel</a></li>
                                <li><a href="#">Gucci</a></li>
                                <li><a href="#">Skechers</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="side border mb-1">
                            <h3>Size/Width</h3>
                            <div class="block-26 mb-2">
                                <h4>Size</h4>
                                <ul>
                                    <li><a href="#">37</a></li>
                                    <li><a href="#">38</a></li>
                                    <li><a href="#">39</a></li>
                                    <li><a href="#">40</a></li>
                                    <li><a href="#">41</a></li>
                                    <li><a href="#">42</a></li>
                                    
                                </ul>
                            </div>
                            <div class="block-26">
                                <h4>Width</h4>
                                <ul>
                                    <li><a href="#">M</a></li>
                                    <li><a href="#">W</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="side border mb-1">
                            <h3>Style</h3>
                            <ul>
                                <li><a href="#">Slip Ons</a></li>
                                <li><a href="#">Boots</a></li>
                                <li><a href="#">Sandals</a></li>
                                <li><a href="#">Lace Ups</a></li>
                                <li><a href="#">Oxfords</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="side border mb-1">
                            <h3>Colors</h3>
                            <ul>
                                <li><a href="#">Black</a></li>
                                <li><a href="#">White</a></li>
                                <li><a href="#">Blue</a></li>
                                <li><a href="#">Red</a></li>
                                <li><a href="#">Green</a></li>
                                <li><a href="#">Grey</a></li>
                                <li><a href="#">Orange</a></li>
                                <li><a href="#">Cream</a></li>
                                <li><a href="#">Brown</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="side border mb-1">
                            <h3>Material</h3>
                            <ul>
                                <li><a href="#">Leather</a></li>
                                <li><a href="#">Suede</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-9 col-xl-9">
                <div class="row row-pb-md">
                    {{#each footwears}}
                    <div class="col-lg-4 mb-4 text-center" id="{{id}}">
                        <div class="product-entry border">
                            <a href="footwears/{{_id}}" method="get" class="prod-img">
                                <img src="{{cover_arr}}" class="img-fluid" alt="Free html5 bootstrap 4 template">
                            </a>
                            <div class="desc">
                                <h2><a href="#">{{name}}</a></h2>
                                <span class="price">{{price}} VND</span>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
              
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="block-27">
                           <ul>
                                {{#paginate pagination type="first"}}
                                <li {{#if disabled}}class="disabled" {{/if}}><a href="?page={{n}}">F</a></li>
                                {{/paginate}}
                                {{#paginate pagination type="previous"}}
                                <li {{#if disabled}}class="disabled" {{/if}}><a href="?page={{n}}"><i
                                            class="ion-ios-arrow-back"></i></a></li>
                                {{/paginate}}
                                {{#paginate pagination type="middle" limit="7"}}
                                <li {{#if active}}class="active" {{/if}}><a href="?page={{n}}">{{n}}</a></li>
                                {{/paginate}}
                                {{#paginate pagination type="next"}}
                                <li {{#if disabled}}class="disabled" {{/if}}><a href="?page={{n}}"><i
                                            class="ion-ios-arrow-forward"></i></a></li>
                                {{/paginate}}
                                {{#paginate pagination type="last"}}
                                <li {{#if disabled}}class="disabled" {{/if}}><a href="?page={{n}}">L</a></li>
                                {{/paginate}}

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{>partner}}


{{>footer}}

